/* Style sheet for both my-first-webpage and favorite-places */

body {
  background-color: bisque;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: darkgreen;
}

p {
  color: brown;
}